
.textPanel
{
    color: white;
    font-family: Atype;
    font-size: 250%;
    margin-top: 50vh;
    margin-bottom: 55vh;
    background-color: #FF006B;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

    width: 70vw;
}
.tBackground
{
    background-color: #FF006B;
}
form 
{
    background-color: #FF006B;
}

.textPanel input
{
    color: #FF006B;
    font-family: Atype;
    background-color: #ffffff;
    border-radius: 8px;
    font-size: 40px;
    width: 120px;
    border: 0px;
}
