.terminalPagei
{
    background-color: white;
    height: 100%;
}

#bottom-panel-roott{
    /* margin: auto; */
    /* width: 50%;
    */
    padding: 20px; 
    text-align: left;
    font-family: Atype;
    background-color: white;
    color: red;
    font-size: 250%;

    margin-top: 20px;
}


#bottom-panel-roott::selection {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 0, 0, 0.99);
  opacity: 100%;
}