

.homepage
{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    justify-self: center;
    background-color: #FF006B;

    width: 100vw;
}

body
{
  background-color: #FF006B;
}