.ticket-spread
{
    padding-top: 20vh;
    display:flex;
    align-items: center;
    justify-content:center;
    
    justify-items: center;
}

.ticket-spread img
{
    float: left;
    width: 50vw;
}
